.not-found-content {
    text-align: center;
}

.not-found-title {
    padding: 1rem;
    margin-top: 1rem;
}

.not-found-subtitle {
    margin-bottom: 3rem;
}

.not-found-cta {
    margin-top: 3rem;
}

.not-found-actions {
    padding-top: 0.5rem;
    padding-bottom: 3rem;
}
