.home-hero-row {
  align-items: center;
  padding-top: 1.5rem;
}

.home-games-section {
  width: 100%;
  padding-bottom: 0.5rem;
}

.home-games-intro {
  margin-bottom: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.home-games-row {
  align-items: center;
}

.home-free-intro {
  padding-right: 1rem;
  padding-left: 1rem;
}

.home-review-stars {
  padding-bottom: 1.5rem;
}

.home-review-body {
  margin: auto;
  max-width: 500px;
}

.home-review-control-col {
  position: relative;
}

.home-cta-heading-text {
  display: inline-block;
}

.home-cta-section {
  width: 100%;
}

.home-phone-img {
  width: 300px;
}

.home-game-icon {
  display: inline-block;
  color: var(--color-theme-black);
  vertical-align: middle;
}

.home-game-label {
  display: inline-block;
  vertical-align: middle;
}

.home-game-option {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  margin-bottom: 10px;
  padding: 10px 15px;
  width: 160px;
  font: inherit;
  color: inherit;
  align-items: center;
  cursor: pointer;
}

.home-game-option:hover,
.home-game-option.is-selected {
  background-color: var(--color-theme-lightgrey);
}

.home-game-screen {
  height: 500px;
}

.home-hero-subtext {
  margin-left: 20%;
}

.home-game-options {
  display: inline-flex;
  vertical-align: middle;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.home-review {
  height: 235px;
  justify-content: center;
}

.home-review-control {
  border: none;
  background-color: transparent;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-review-icon {
  color: #fff;
}

.home-review-star {
  color: #fff;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.home-cta-heading {
  padding-top: 0;
}

.home-phone-col {
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .home-phone-col {
    padding-bottom: 20px;
  }

  .home-phone-img {
    width: 200px;
  }

  .home-cta-heading {
    padding-top: 20px;
  }
}

@media (max-width: 1000px) {
  .home-hero-subtext {
    margin-left: 0;
  }

  .home-phone-img {
    width: 250px;
  }
}
