.site-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  border-top: 1px solid #dee2e6;
}

.site-footer-logo {
  height: 24px;
  width: 24px;
  text-align: center;
  margin-right: 10px;
}

.social-link {
  margin-left: 8px;
  color: var(--color-footer-muted);
}

.social-link:hover {
  opacity: 0.6;
}
