.site-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid #dee2e6;
}

.site-footer-brand {
    display: flex;
    align-items: center;
}

.site-footer-social {
    display: flex;
    justify-content: flex-end;
}

.site-footer-social-item {
    margin-left: 1rem;
}

.site-footer-social-link {
    color: var(--footer-muted);
}

.site-footer-social-icon {
    font-size: 1.6em;
}

.site-footer-social-icon:hover {
    opacity: 0.6;
}

.site-footer-logo {
    width: 25px;
    text-align: center;
    margin-right: 10px;
}
