@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700&display=swap');

:root {
    --theme-blue: #5AC1D0;
    --theme-green: #7FDCA5;
    --theme-lightgrey: #f2f2f2;
    --theme-black: #373737;
    --theme-darkgrey: #AAAAAA;
    --nav-height: 74px;
    --bs-gutter-x: 1.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
}

.cover-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.container,
.container-fluid {
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    max-width: none;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: 0;
}

.col-0 {
    flex: 0 0 auto;
    width: 0;
}

.col-1 {
    flex: 0 0 auto;
    width: calc(100% * (1 / 12));
}

.col-2 {
    flex: 0 0 auto;
    width: calc(100% * (2 / 12));
}

.col-3 {
    flex: 0 0 auto;
    width: calc(100% * (3 / 12));
}

.col-4 {
    flex: 0 0 auto;
    width: 25%;
}

.col-5 {
    flex: 0 0 auto;
    width: calc(100% * (5 / 12));
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: calc(100% * (7 / 12));
}

.col-8 {
    flex: 0 0 auto;
    width: calc(100% * (8 / 12));
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: calc(100% * (10 / 12));
}

.col-11 {
    flex: 0 0 auto;
    width: calc(100% * (11 / 12));
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .col-md-0 {
        flex: 0 0 auto;
        width: 0;
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: calc(100% * (1 / 12));
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: calc(100% * (2 / 12));
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: calc(100% * (3 / 12));
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: calc(100% * (5 / 12));
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: calc(100% * (7 / 12));
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: calc(100% * (8 / 12));
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: calc(100% * (10 / 12));
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: calc(100% * (11 / 12));
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-0 {
        flex: 0 0 auto;
        width: 0;
    }

    .col-lg-1 {
        flex: 0 0 auto;
        width: calc(100% * (1 / 12));
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: calc(100% * (2 / 12));
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: calc(100% * (3 / 12));
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: calc(100% * (5 / 12));
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: calc(100% * (7 / 12));
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: calc(100% * (8 / 12));
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: calc(100% * (10 / 12));
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: calc(100% * (11 / 12));
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* Apply to content under navbar on page */
.page-top-margin {
    margin-top: var(--nav-height) !important;
}

/*Primary background color*/
.bg-theme {
    background-color: var(--theme-lightgrey) !important;
}

.transparent-blur {
    background-color: rgba(255, 255, 255, 0.65) !important;
    backdrop-filter: blur(18px);
}

.transparent-blur-grey {
    background-color: rgba(242, 242, 242, 0.65) !important;
    backdrop-filter: blur(18px);
}

.text-header-xl {
    font-family: 'Barlow', sans-serif !important;
    font-weight: 700 !important;
    color: var(--theme-black);
    font-size: calc(3.5rem + 2vw);
}

.text-header {
    font-family: 'Barlow', sans-serif !important;
    font-weight: 700 !important;
    color: var(--theme-black);
    font-size: calc(1.75rem + 1.5vw);
}

.text-header-md {
    font-family: 'Barlow', sans-serif !important;
    font-weight: 700 !important;
    color: var(--theme-black);
    font-size: calc(1rem + 1.5vw);
}

.text-header-sm {
    font-family: 'Barlow', sans-serif !important;
    font-weight: 700 !important;
    color: var(--theme-black);
    font-size: calc(1rem + 1vw);
}

.text-header-xs {
    font-family: 'Barlow', sans-serif !important;
    font-weight: 700 !important;
    color: var(--theme-black);
    font-size: calc(1rem + .1vw);
}


.text-body-lg {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: var(--theme-black);
    font-size: calc(1.375rem + .1vw);
}

.text-body-md {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: var(--theme-black);
    font-size: calc(1.25rem + .1vw);
}

.text-body-sm {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: var(--theme-black);
    font-size: calc(1rem + .1vw);
}

.primary-btn {
    margin: 0;
    background-color: rgb(67, 189, 219);
    /*PUT versify blue */
    color: white;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Barlow', sans-serif !important;
}

.secondary-btn {
    margin: 0;
    /*PUT versify blue */
    background-color: rgb(163, 163, 163);
    color: white;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Barlow', sans-serif !important;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.home-btn {
    width: 200px;
}

.white-text {
    color: white !important;
}

.triangle {
    width: 100%;
    vertical-align: top !important;
    margin-top: -1px;
}

.triangle-rotate {
    width: 100%;
    transform: rotate(180deg);
    vertical-align: bottom !important;
    margin-bottom: -1px;
}

@media only screen and (max-width: 767px) {
    .text-body-lg {
        font-size: calc(1rem + .6vw);
    }

    .text-body-md {
        font-size: calc(1rem + .4vw);
    }
}